<ion-view title="landing" hide-nav-bar="true" hide-back-button="true" id="page9" style="background-color:#2799B4;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div id="landing-button-bar2" class=" button-bar "></div>
        <div class="spacer" style="height: 100px;"></div>
        <div class="">
            <img src="img/HENi9i43R7C3PIAmh1hu_app copy.png" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="login" id="landing-button20" style="left:-10px;" class=" button button-stable  button-full button-outline ">Login</a>
        </div>
    </ion-content>
</ion-view>