<ion-view title="Login" id="page10" hide-nav-bar="true" style="background-color:#2799B4;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/HdX1DOZRtyuOwixjdUQ5_app copy.png" width="80%" height="80%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 40px;"></div>
        <label style="color:red" ng-show="isLogin">Invalid login attempt.</label>
        <form  class="list">
            <ion-list>
                <label class="item item-input " id="login-input13">
                    <input type="text" placeholder="Username"  ng-model="loginUser.UserName">
                </label>
                <label class="item item-input " id="login-input14">
                    <input type="password" placeholder="Password" ng-model="loginUser.Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button type="submit"  class="button button-stable  button-block"  ng-click="userLogin(loginUser)" ng-disabled="isLoginbtn">Login</button>

        </form>
    </ion-content>
</ion-view>
